<%- include('partials/header', { title: 'API Client' }) %>
  <h1>Bienvenido al Cliente de la API</h1>
  <ul>
    <li><a href="/usuarios">Consultar Usuarios</a></li>
    <li><a href="/crear-usuario">Crear Usuario</a></li>
  </ul>
<%- include('partials/footer') %>
